<div class="fx">
	<div class="fx-search center txt-ct">
		<i class="fa fa-search"></i>
		在频道里搜索
	</div>
	<div class="baner">
		这里是banner
	</div>
	<div class="fx-title">
		<span>推荐内容</span>
		<a href="">更多...</a>
	</div>
	<ul class="chat-list">
		<li>
			<div class="chat-img">
				<i class="fa fa-music"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<i class="fa fa-cutlery rt"></i>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-apple"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<i class="fa fa-cutlery rt"></i>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-smile-o"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<i class="fa fa-cutlery rt"></i>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-github-alt"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<i class="fa fa-cutlery rt"></i>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-github-alt"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<i class="fa fa-cutlery rt"></i>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-github-alt"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<i class="fa fa-cutlery rt"></i>
			</div>
		</li>
	</ul>
</div>
