<!DOCTYPE html>
<html lang="en">
<% include partials/head.html%>
<body ms-controller="index">
	<div class="hd">
		<span>LiveIt</span>
		<i class="fa fa-plus-square-o"></i>
	</div>
	<div class="index_main" ms-include-src="pageUrl" >
	</div>
	<% include partials/foot.html%>
</body>
</html>
<script>
	var vm = avalon.define({
		$id:"index",
		name:"",
		sex:"女",
		pageUrl:"recentChat.html",
		init:function(){
			$.ajax({
			url: '/getindex',
			type: 'GET',
			success:function(data){
				vm.name = data.name;
			}
		});
		},
		getContent:function(page){
			vm.pageUrl = page+".html"
			console.log(vm.pageUrl);
		}
	});
	avalon.scan();
	vm.init();
</script>