<!DOCTYPE html>
<html lang="en">
<% include partials/head.html%>
<body ms-controller="index" class="ms-controller">
	<div class="head">
		<a href="">返回</a>
		<span>LiveIt</span>
		<span>{{name}}-{{sex}}</span>
	</div>
	<div class="index_main" ms-include-src="pageUrl" >
		 <!-- <%include partials/home.html%> -->
	</div>
	<% include partials/foot.html%>
</body>
</html>
<script>
	var vm = avalon.define({
		$id:"index",
		name:"",
		sex:"女",
		pageUrl:"home.html",
		init:function(){
			$.ajax({
			url: '/getindex',
			type: 'GET',
			success:function(data){
				vm.name = data.name;
			}
		});
		},
		getContent:function(page){
			vm.pageUrl = page+".html"
			console.log(vm.pageUrl);
		}
	});
	avalon.scan();
	vm.init();
</script>