<div class="msg">
	<ul class="chat-list">
		<li>
			<a href="/chat/chat.html">
				<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>系统通知</span>
					<span class="num rt">12</span>
				</div>
			<a href="/pindao/pindao_index.html">
		</li>
	</ul>
	<ul class="chat-list">
		<li>
			<a href="/chat/chat.html">
		     	<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>我想对你说</span>
					<span class="num rt">12</span>
				</div>
			</a>
		</li>
	</ul>
</div>