<div class="msg">
	<ul class="chat-list">
		<li>
			<div class="chat-img">
				<i class="fa fa-music"></i>
			</div>
			<div class="rt-box">
				<span>系统通知</span>
				<span class="num rt">12</span>
			</div>
		</li>
	</ul>
	<ul class="chat-list">
		<li>
			<div class="chat-img">
				<i class="fa fa-music"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<span class="num rt">12</span>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-apple"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<span class="num rt">99+</span>
			</div>
		</li>
		<li>
			<div class="chat-img">
				<i class="fa fa-plus"></i>
			</div>
			<div class="rt-box">
				<span>我想对你说</span>
				<span class="num rt">34</span>
			</div>
		</li>
	</ul>
</div>