<ul class="chat-list" ms-importan="vm_myPindao">
		<li>
			<a href="/pindao/pindao_index.html">
				<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>我想对你说</span>
					<span class="num rt">12</span>
				</div>
			</a>
		</li>
		<li>
			<a href="/pindao/pindao_index.html">
				<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>我想对你说</span>
					<span class="num rt">12</span>
				</div>
			</a>
		</li>
		<li>
			<a href="/pindao/pindao_index.html">
				<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>我想对你说</span>
					<span class="num rt">12</span>
				</div>
			</a>
		</li>
	</ul>
<script>
	var vm_myPindao = avalon.define({
		$id: "findView",
		data: {},
		init: function(){
			$.ajax({
				url: '/find/queryAllPindao',
				type: 'GET',
				success: function(result){
					if(result.code){
						vm_myPindao.data = result.bizData;
					}
				}
			});
			
		}
	});
	avalon.scan();
	vm_myPindao.init();
</script>