<ul class="chat-list" ms-important="myPindao">
		<li ms-repeat="data.myPindaoList">
			<a ms-href="/pindao/pindao_index.html?id={{el._id}}">
				<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>{{el.name}}</span>
					<span class="num rt">12</span>
				</div>
			</a>
		</li>
		<li ms-repeat="data.joinPindaoList">
			<a ms-href="/pindao/pindao_index.html?id=el._id">
				<div class="chat-img">
					<i class="fa fa-music"></i>
				</div>
				<div class="rt-box">
					<span>{{el.name}}</span>
					<span class="num rt">12</span>
				</div>
			</a>
		</li>
	</ul>
<script>
	var vm_myPindao = avalon.define({
		$id: "myPindao",
		data: {},
		init: function(){
			$.ajax({
				url: '/pindao/queryMyPindao',
				type: 'GET',
				success: function(result){
					if(result.code){
						vm_myPindao.data = result.bizData;
					}
				}
			});
			
		}
	});
	avalon.scan();
	vm_myPindao.init();
</script>