<div class="user" ms-important = "userInfo" id="userInfo">
	<div class="us-info">
		<div class="us-img lf">
			<a ms-href="/user/setting.html?username={{data.username}}">
				<img ms-src="data.photo" alt="">
			</a>
			<i class="fa fa-cog txt-thm-bule"></i>
		</div>
		<div class="us-info-rt rt">
			<p class="txt-thm-bule">{{data.username}}</p>
			<span>已发布</span><span class="txt-black">{{data.publishNum}}</span>
			<span>频道数</span><span class="txt-black">{{data.joinChatNum}}</span><br>
			<span>{{data.joinTime}}加入</span>
		</div>
	</div>
	<div class="us-tab">
		<div class="tab lf txt-ct" ms-click="queryCondition(0)">按时间</div><span class="lf">|</span>
		<div class="tab lf txt-ct" ms-click="queryCondition(1)">按频道</div>
	</div>
	<div class="us-cards center">
		<div class="card">
			<div class="card-title ft-grey">
				<img src="/images/pd-img.png" alt="" class="lf">
				<div class="lf">
					<span class="txt-thm-bule">nodejs</span><br>
					<span class="ft-sm">1周前</span>
				</div>
				<span class="rt">删除></span>
			</div>
			<div class="card-text">
				正在学习nodejs，大家一起来讨论一下
			</div>
			<ul class="card-foot ft-grey">
				<li class="ft-sm"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;4</li>
				<li class="ft-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;5</li>
				<li></li>
				<li class="ft-mid"><i class="fa fa-heart"></i></li>
				<li class="ft-mid"><i class="fa fa-trash "></i></li>
				<li class="ft-mid"><i class="fa fa-share-alt"></i></li>
			</ul>
		</div>
	</div>
</div>
<script>
	var vm_user = avalon.define({
		$id:"userInfo",
		data:{},
		init:function(username){
			$.ajax({
				url: '/user/getUserInfo',
				type: 'POST',
				dataType: 'json',
				data: {username:username},
				success:function(data){
					console.log(data);
					if(data.code){
						vm_user.data = data.bizData;
					}
				}
			});	
		},
		queryCondition:function(flag){
			if (flag) {
				alert("按频道"+flag);
			}else{
				alert("按时间"+flag);
			}
		}
	});
	avalon.scan($("#userInfo")[0],vm_user);
	vm_user.init("ziazan");
</script>