<div class="user">
	<div class="us-info">
		<div class="us-img lf">
			<a href="/setting.html">
				<img src="/images/user-img.jpeg" alt="">
			</a>
			<i class="fa fa-cog txt-thm-bule"></i>
		</div>
		<div class="us-info-rt rt">
			<p class="txt-thm-bule">ziazan</p>
			<span>已发布</span><span class="txt-black">4</span>
			<span>频道数</span><span class="txt-black">5</span><br>
			<span>2016-05-05加入</span>
		</div>
	</div>
	<div class="us-tab">
		<div class="tab lf txt-ct">按时间</div><span class="lf">|</span>
		<div class="tab lf txt-ct">按频道</div>
	</div>
	<div class="us-cards center">
		<div class="card">
			<div class="card-title ft-grey">
				<img src="/images/pd-img.png" alt="" class="lf">
				<div class="lf">
					<span class="txt-thm-bule">nodejs</span><br>
					<span class="ft-sm">1周前</span>
				</div>
				<span class="rt">删除></span>
			</div>
			<div class="card-text">
				正在学习nodejs，大家一起来讨论一下
			</div>
			<ul class="card-foot ft-grey">
				<li class="ft-sm"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;4</li>
				<li class="ft-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;5</li>
				<li></li>
				<li class="ft-mid"><i class="fa fa-heart"></i></li>
				<li class="ft-mid"><i class="fa fa-trash "></i></li>
				<li class="ft-mid"><i class="fa fa-share-alt"></i></li>
			</ul>
		</div>
	</div>
</div>