/*声明 WebFont*/
@font-face {
  font-family: 'Amable';
    src: url('../fonts/amable/fonts/Amable.eot');
  src:
    url('../fonts/amable/Amable.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/amable/Amable.woff') format('woff'),
    url('../fonts/amable/Amable.ttf') format('truetype'),
    url('../fonts/amable/Amable.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------共用-------------*/
/* 头部*/
.hd,.hd_back{
	width: 100%;
	height: 50px;
	background-color: #F7F8F8;
	text-indent:10px;
	color:#0090FA;
	line-height: 50px;
	position: fixed;
	top:0;
	border-bottom: 1px solid #CBCBCB;
}
.hd>span{
	font-family:'Amable';
	
	font-weight: bolder;
	font-size: 24px;
}
.hd>a>i{
	font-size:30px;
	float:right;
	padding:10px;
	color: #0090FA;
}
.hd_back{
	border-bottom: 1px solid #CBCBCB;
}
.hd_back>a>i{
	line-height: 50px;
}
.hd_back>button{
	height: 30px;
    margin: 10px;
    padding: 5px 10px;
    float: right;
    color: #0093FF;
    text-align: center;
    border: 1px solid #F7F8F8;
    border-radius: 5px;
    background-color: #F0F0EF;
}
.blank-block{
	height: 60px;
}

.blank-block2{
	height: 50px;
}
.index_main{
	width: 100%;
	height: auto;
	background-color: #F8F8F8;
	font-family:'Amable';
	overflow-y: auto;
}
.bottom{
	width: 100%;
	height: 50px;
	background-color: #F8F8F8;
	display:flex;
	border-top:1px solid #ECECEC;
	border-bottom:1px solid #6EB0DC;
	position:fixed;
	bottom: 0;
	left: 0;
}

.bottom>ul{
	display:flex;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #F8F8F8;
}
.bottom>ul>li{
	width: 24%;
	display: inline-block;
	list-style: none;
	flex:1;
	text-align:center;
	line-height: 50px;
}
.bottom>ul>li>a{
	text-decoration:none;
}

.foot-logo{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.foot-logo>span{
	font-family: 'Amable';
	font-weight: bolder;
	font-size: 30px;
}
/*底部输入框*/
.ft-input{
	width: 100%;
	height: auto;
	min-height: 50px;
	max-height: 100px;
	position:fixed;
	bottom: 0;
	left: 0;
	display: flex;
	background-color: #fff;
}
.ft-input>img{
	max-height: 50px;
	float: left;
	flex:1;
}
.ft-input>textarea{
	float: left;
	flex:4;
	border: none;
}
.ft-input>button{
	height: 30px;
	margin: 10px 0;
	flex:1;
	float: right;
	color:#0093FF;
	text-align: center;;
	line-height: 30px;
	border:1px solid #FFFFFF;
	border-radius:5px;
	background-color: #F0F0EF;
}

/*------------发现-------------*/
/*发现的搜索框*/
.fx{
	padding: 5px 0;
}
.fx-search{
	width: 90%;
	height: 30px;
	background-color: #fff;
	color:#C5C5C5;
	border:2px solid #F5F4F5;
	border-radius: 15px;
	line-height: 30px;
}
.baner{
	width: 100%;
	height: 150px;
	margin-top:10px;
	background: url(../images/banner01.png);
}
.fx-title{
	 height: 30px;
    width: 90%;
    background-color: #E9E9E9;
    padding: 10px 5%;
    border-bottom: #EEEEEE 1px solid;
    line-height: 30px;
}
.fx-title>span{
	color:#000;
	font-size: 16px;
}
.fx-title>a{
	float: right;
	font-size: 14px;
	text-decoration: none;
	color:#51A5D9;
}
/*列表样式*/
.chat-list{
	background-color: #fff;
}
.chat-list>li{
	width: 90%;
	height:50px;
	padding: 0px 5%; 	
	line-height: 50px;
}

.chat-list>li>a{
	width: 100%;
	display: flex;
	text-decoration: none;
	color:#000;
}
.chat-list>li>a>.chat-img{
	flex:1;
	text-align: center;
	color:#4CA3E0;
	font-size: 20px;
}
.chat-list>li>a>.rt-box{
	flex:4;
	border-bottom: #F6F6F6 1px solid;
}
.rt-box>i{
	line-height: 50px;
	color: #F1F1F1;

}
/*-------频道------*/
.pd{}
.rt-box>.num{
	color:#4CA3E0;
}
/*------消息------*/
.msg{}
/*------用户中心------*/
.user{
	background-color: #ECECEC;
}
.us-info{
	width: 90%;
	height: auto;
	background-color: #fff;
	padding: 10px 5%;
	overflow: hidden;
	display:flex;
}
.us-info>.us-img{
	flex:1;
	position:relative;
}
.us-info>.us-img>a>img{
	width: 70px;
	height: 70px;
	border: #B7E8F5 4px solid;
	border-radius: 37px;

}
.us-info>.us-img>i{
	width:17px;
	height:17px;
	background-color:#B7E8F5;
	border: #B7E8F5 1px solid;
	border-radius:9px;
	text-align:center;
	line-height:17px;
	position:absolute;
	bottom:6px;
	right:21px;
}
.us-info>.us-info-rt{
	flex:2;
	color:#C3C3C3;
}

.us-info>.us-info-rt>span{
	
	font-size:12px;
	font-weight:500;
}
.us-tab{
	width: 80%;
	padding: 10px 10%;
	border-top: 1px solid #F3F3F3;
	border-bottom: 1px solid #F3F3F3;
	overflow: hidden;
	background-color: #fff;
}
.us-tab>.tab{
	width: 49%;
}
.us-cards{
	width: 90%;
	padding: 10px 0;
}
/*---------发表的小卡片-----------*/
.cards{
	width: 90%;
	padding: 10px 5%;
}
.card{
	width: 100%;	
	background-color:#fff;
	margin-bottom: 10px;
}
.card-title{
	width: 90%;
	padding: 10px 5%;
	border-bottom: 1px solid #F3F3F3;
	overflow: hidden;
	font-size: 14px;
}
.card-title>img{
	width:30px;
	height:30px;
	padding: 5px;
}
.card-text{
	width: 90%;
	height: auto;
	padding: 10px 5%;
}
.card-foot{
	width:90%;
	padding:10px 5%;
	background-color: #FAFAFA;
	display: flex;
	line-height:20px;
}
.card-foot>li{
	flex:1;
}
/*--------用户设置---------*/
.st-info{
	width: 100%;
	padding: 20px;
	text-align: center;
	background-color: #fff;
	margin-bottom: 20px;
}
.st-info>p{
	font-size: 20px;
}
.st-info>img{
	width: 70px;
	height: 70px;
	border: #B7E8F5 4px solid;
	border-radius: 37px;
	margin: auto;
}
/*-----------列表组-------------*/
.group{
	width: 90%;
	padding: 0 5%;
	background-color: #fff;
}
.group>li{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #DCDCDC;
}
.group>li>span{
	display:block;
	float: left;
	width: 80px;
	padding-right: :20px;
	text-align: left;
}
/*-----------频道-------------*/
.pindao_index{
	height: 100%;
	background-color: #fff;
	text-align: center;
	color:#B0B0B0;
	padding: 30px 0;
}
.pindao_index>button{
	padding: 10px 50px;
	border: 1px solid #fff;
	border-radius:10px;
	background-color: #7ECAFE;
}
/*创建频道*/
.pd-ct-main{
	padding: 10px 10%;
	text-align: center;
}
.pd-ct-img{
	width: 100%;
	text-align: center;
}
.pd-ct-img>img{
	width: 150px;
	height: 150px;
}
.pd-ct-main>form>input,.pd-ct-main>form>textarea,.pd-ct-main>form>button{
	display: inline-block;
	margin-bottom: 5px;
	border:1px solid #fff;
	border-radius: 5px;
	background-color: #F5F5F5;
	color:#CBCBCB;
	padding: 5px;
}
.pd-ct-main>form>button{
	text-align: center;
	color:#fff;
	background-color: #0093FF;
	padding: 10px 50px;
}
/*频道窗口*/
.pd_cards{
	width: 95%;
	padding: 10px 0;
	margin: auto;
}
/*------通用属性设置-----*/
.center{
	margin: 0 auto;
}
.txt-ct{
	text-align: center;
}
.lf{
	float: left;
}
.rt{
	float: right;
}
.txt-black{
	color:#000;
}
.txt-thm-bule{
	color:#0090FA;
}
.ft-grey{
	color:#DCDCDC;
}
.ft-sm{
	font-size: 12px
}
.ft-mid{
	font-size: 18px;
}