<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.html%>
<body style="background-color: #fff">
	<% include ../partials/hd_back.html%>
	<div class="pd-ct-main">
		<div class="pd-ct-img">
			<img src="/images/pd-02.png" alt="">
		</div>
		<form method="post" class="form">
	      <input name="name" type="text" class="form-control" placeholder="给频道取个响亮的名号">
	      <textarea name="description" id="" cols="30" rows="4" class="form-control" placeholder="请输入频道的简介..."></textarea>
	      <input name="tags" type="text" class="form-control" placeholder="标签暂时不实现"><br>
         <a  href="/pindao/createPdSubmit">提交</a>
    </form>
	</div>
</body>
</html>