<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.html%>
<body>
	<% include ../partials/hd_back.html%>
	<div class="pd_cards">
		<div class="card">
			<div class="card-title ft-grey">
				<img src="/images/pd-img.png" alt="" class="lf">
				<div class="lf">
					<span class="txt-thm-bule">nodejs</span><br>
					<span class="ft-sm">1周前</span>
				</div>
				<span class="rt">删除></span>
			</div>
			<div class="card-text">
				正在学习nodejs，大家一起来讨论一下
			</div>
			<ul class="card-foot ft-grey">
				<li class="ft-sm"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;4</li>
				<li class="ft-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;5</li>
				<li></li>
				<li class="ft-mid"><i class="fa fa-heart"></i></li>
				<li class="ft-mid"><i class="fa fa-trash "></i></li>
				<li class="ft-mid"><i class="fa fa-share-alt"></i></li>
			</ul>
		</div>
	</div>
	<% include ../partials/foot-input.html%>
</body>
</html>