<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.html%>
<body ms-controller="pindao_index">
	<div class="hd_back">
		<a href="<%= backUrl%>" class="txt-thm-bule">
			<i class="fa fa-mail-reply lf"></i>
		</a><p class="lf">{{data.name}}</p>
		<button class="rt" id="followbtn" ms-click="followPindao">关注</button>
	</div>
	<div class="blank-block2"></div>
	<div class="pd_cards">
		<div class="card" ms-repeat="data.articleList">
			<div class="card-title ft-grey">
				<img ms-src="el.author.photo" alt="" class="lf">
				<div class="lf">
					<span class="txt-thm-bule">{{el.author.username}}</span><br>
					<span class="ft-sm">{{el.publishTime}}</span>
				</div>
				<span class="rt">删除></span>
			</div>
			<div class="card-text">
				{{el.content}}
			</div>
			<ul class="card-foot ft-grey">
				<li class="ft-sm"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;{{el.loves}}</li>
				<li class="ft-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;{{el.readNum}}</li>
				<li></li>
				<li class="ft-mid"><i class="fa fa-heart"></i></li>
				<li class="ft-mid"><i class="fa fa-trash "></i></li>
				<li class="ft-mid"><i class="fa fa-share-alt"></i></li>
			</ul>
		</div>
	</div>
	<div class="ft-input">
			<img src="/images/pd-02.png" alt="">
			<textarea name="message" id="" ms-duplex-text="content"></textarea>
			<button ms-click="publish">发送</button>
	</div>
</body>
</html>
<script>
	var id = "<%= id %>";
	var vm = avalon.define({
		$id: "pindao_index",
		data: {},
		content: "",
		init: function (){
			console.log("init");
			$.ajax({
				url: '/pindao/initPindao?id='+id,
				type: 'GET',
				success: function (result){
					if(result.code){
						vm.data = result.bizData;
					}
				}
			});
		},
		publish: function(){
			console.log("publish");
			$.post('/pindao/publish', {content: vm.content,name: vm.data.name}, function(data, textStatus, xhr) {
				/*optional stuff to do after success */
				if (data.code) {
					//成功就初始化
					vm.init();
					vm.content = "";
				}else{
					alert(data.message);
				}
			});
		},
		followPindao: function(){
			$.ajax({
				url: '/pindao/followPindao',
				type: 'POST',
				dataType: 'JSON',
				data:{id: vm.data._id},
				success: function(result){
					if(result.code){
						$("#followbtn").text("取消关注");
						$("#followbtn").attr("ms-click","delFollow");
					}
				}
			});
		},
		delFollow: function(){
			alert("取消关注");
		}
	});
	avalon.scan();
	vm.init();
</script>